logs
project/project
project/target
target
tmp
.history
dist
.cache
.classpath
.project
.target
.settings
bin
.subl
Makefile
data/*
conf/application.conf
modules/CreateUsers/project/application.conf
modules/CreateUsers/project/target/*
modules/CreateUsers/target/*
modules/RelationalAlgebraParser/target/*
modules/RelationalAlgebraParser/project/target/*
modules/RelationalAlgebraParser/.gitignore
modules/RelationalAlgebraParser/data/*
modules/RelationalAlgebraParser/relalg.exp
modules/RelationalAlgebraParser/relalg.properties